@using Hotel_MVC2.Models
@model Admin
@using Hotel_MVC2.Models.Enum
@if (ViewData != null)
{
    <h2>@TempData["success"]</h2>
}


<head>
    <meta charset="ut-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title@ViewData["Title"] Hotel_MVC<title></title>
</head>


<h3 style="font-family:cabri;font-size : 20px;">Welcome to<br><marquee direction = "left">Registration Portal</marquee></h3>
<div style="font-size: 130%;"></div>
    <hr />
    <div id="reg-form">
    <form enctype="multipart/form-data" asp-action="CreateAdmin" method="post"></form>
        <div class="form-row">
            <label asp-for = "FirstName" class=" control-label"></label>
            <input asp-for = "FirstName" class="form-control" placeholder="Alexander"/>
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div><br>
        <div class="form-row">
            <label asp-for = "LastName" class=" control-label"></label>
            <input asp-for = "LastName" class="form-control" placeholder="Williams"/>
            <span asp-validation-for="LastName" class="text-danger"></span>

        </div><br>
        <div class="form-row">
            <label asp-for = "Address" class=" control-label"></label>
            <input asp-for = "Address" class="form-control" placeholder="Number,street,City,LG,State,Country"/>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div><br>
         @* <div class="form-row" *@
        