@model Admin


<h3>Are you sure you want to Delete the Admin?</h3>
<div style="font-size: 80%;"></div>
    <hr>
    <form asp-controller= "Admin" asp-action= "DeleteAdmin"></form>
        <input asp-for = "AdminId" hidden/>
        <div>
            <div>
                <label asp-for = "AdminId"></label>
                <input asp-for = "AdminId" disabled class="form-control"/>
            </div>
        </div>
            <label asp-for = "FirstName"></label>
            <input asp-for = "FirstName" disabled class="form-control"/>
        <div>
            <div>
                <label asp-for = "LastName"></label>
                <input asp-for = "LastName" disabled class="form-control"/>
            </div>
        </div>
            <label asp-for = "Address"></label>
            <input asp-for = "Address" disabled class="form-control"/>
        <div>
            <div>
                <label asp-for = "Age"></label>
                <input asp-for = "Age" disabled class="form-control"/>
            </div>
        </div>
            <label asp-for = "Gender"></label>
            <input asp-for = "Gender" disabled class="form-control"/>
        <div>
            <div>
                <label asp-for = "Email"></label>
                <input asp-for = "Email" disabled class="form-control"/>
            </div>
        </div>
                <label asp-for = "Password"></label>
                <input asp-for = "Password" disabled class="form-control"/>
        <div>
            <div>
                <label asp-for = "DateCreated"></label>
                <input asp-for = "DateCreated" disabled class="form-control"/>
            </div>